{% extends "_debug/test-web.html" %}

{% block title %}
  DRRM Thing
{% endblock %}

{% block navlinks %}
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="login-button">Login</a>
    {% endif %}
{% endblock %}

{% block head %}
Preface
{% endblock %}

{% block content %}
<div style="margin:auto; width: 80%; height: auto; padding-top: 10px; display: flex; justify-content: space-between;">
  <div style="flex: 1; padding-bottom: 15%; background-color: #ccc; margin-right: 10px;">
    <p style="padding: 30px; text-align: justify; text-justify: inter-word;">
        At (Website Name), our mission is to be a valuable resource for our users, particularly during times of crises and disasters. In the event of an emergency or evacuation, our system offers a comprehensive student monitoring solution designed to ensure their safety and provide prompt assistance. Our website utilizes QR codes assigned to each student. These QR codes, once scanned, instantly provide crucial information, such as the student's full name, address, mobile number, and guardian's contact information. This enables teachers and emergency responders to quickly reach out to guardians in case a student is injured or requires assistance. It allows students to contribute to a safer school environment by reporting the hazards they have observed. Once a hazard is reported it will be monitored, tracked, and assessed. This approach ensures that potential dangers are quickly addressed, creating a safer learning environment for everyone.
    </p>
  </div>
</div>



{% endblock %}