{% extends "_debug/test-web.html" %}

{% block title %}
  DRRM Thing
{% endblock %}

{% block navlinks %}
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="login-button">Login</a>
    {% endif %}
{% endblock %}

{% block head %}
Contact Us
{% endblock %}

{% block content %}
<div style="margin:auto; position:relative; top:20px; width: 93%; padding-top: 10px; display: flex; justify-content: space-between;">
  <div style="flex: 1; height: 100%; padding-bottom: 15%; background-color: #ccc; margin-right: 10px;">
    <p style="text-align: center"><br>If you have any questions, feedback, or would like to learn more, feel free to reach out or contact us at <u>researchersgrp06@gmail.com</u>.</p>
  </div>
</div>



{% endblock %}