{% extends "_debug/test-web.html" %}

{% load static %}

{% block title %}
Search Reports
{% endblock %}

{% block head %}
Request Status Change
{% endblock %}

{% block navlinks %}
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="login-button">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="login-button">Login</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div style="display:flex; justify-content: center;">
            <div style="width: 500px" id="my-qr-reader"></div>
        </div>
    </div>
<script src="{% static '/scripts/html5-qrcode.min.js' %}"></script>
<script>
function domReady(fn) {
    if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
    ) {
        setTimeout(fn, 1000);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}

domReady(function () {

    // If found you qr code
    function onScanSuccess(decodeText, decodeResult) {
        alert("You Qr is : " + decodeText, decodeResult);
    }

    function matchNumId(decodeText) {
        // Make sure decodeText is not empty
        if (!decodeText) {
            return;
        }

        var studentIds = [];

        for (var i = 0; i < studentIds.length; i++){
            var num_id = studentIds[i];
            if (decodeText === num_id) {
                alert("QR code matched with num_id: " + num_id);
                // Do something here, like updating the UI or redirecting
            } else {
                alert("QR code does not match with num_id");
            }
        }
    }


    let htmlscanner = new Html5QrcodeScanner(
        "my-qr-reader",
        { fps: 10, qrbos: 250 }
    );
    htmlscanner.render(onScanSuccess);
});
</script>

{% endblock %}